* {
    padding: 0px;
    margin: 0px;
    color: #fff;
}

.manage {
    width: 70%;
    min-height: 15vh;
    border: 1px solid green;

    margin: 30px 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.manage>.Message_manage,
.manage>.Contestant_manage {
    width: 20%;
    color: white;
    cursor: pointer;
    border: 1px solid green;
    border-radius: 5px;
    text-align: center;
    font-size: 28px;
    letter-spacing: 4px;
    background: none;

    margin: 2% 5%;
    padding: 3%;
}

.Manage_content {
    width: 70%;
    height: 400px;
    border: 1px solid rgb(212, 194, 222);
    overflow: auto;

    /* padding: 10px; */
    margin-bottom: 30px;
}

.Manage_content::-webkit-scrollbar {
    width: 5px;
}

.Manage_content::-webkit-scrollbar-thumb {
    background-color: rgb(204, 173, 219);
    border-radius: 10px;
}

.Messages {
    width: 90%;
    border: 1px solid rgb(218, 179, 0);

    margin: 2% 5%;
    /* padding: 10px; */

    display: flex;
    flex-wrap: wrap;
}

.Message_name {
    width: 40%;
    height: 80px;
    font-size: 32px;
    text-align: center;
    background-color: rgb(218, 179, 0);
    /* padding: 3px; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.Message {
    width: 60%;
    font-size: 18px;
    border-bottom: 1px solid rgb(218, 179, 0);
}

.Message_time {
    width: 100%;
    padding: 5px;
    font-size: 12px;
    border-bottom: 1px solid rgb(218, 179, 0);
}

.Message_E_call {
    font-size: 12px;
    padding: 3px;
}

.Message_modify {
    width: 90%;
    height: 50px;
    margin: 0% 5%;
    /* border: 1px solid green; */
    text-align: center;
}

.Message_modify>input {
    background: none;
    width: 30%;
    height: 90%;
    font-size: 26px;
    font-weight: bold;
    border: 1px solid rgb(218, 179, 0);
    cursor: pointer;

    margin: 0px 3%;
}

.Message_modify>input:hover {
    background-color: rgb(218, 179, 0);
}